
.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;


    margin: 50px 0;

&_images {


.main_image {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    cursor: pointer;

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
   
}


}



}




.image_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:  10px;
    cursor: pointer;


&_item {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-top: 20px;

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }




}


}


&_content {
    padding: 10px 0;

&_title {
    font-size: 16px;
    font-weight: 400;
}


&_desc {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;

}

&_text {
    font-size: 18px;
    font-weight: 600;

    
}

&_price {
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0;
 
}


&_counter {
    margin:10px 0 ;

    &_val {
        margin:0 15px;
    }

    &_inc {
       cursor: pointer;
    }
    &_dec {
        cursor: pointer;
    }

} 


&_btn {
    background-color: orange;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
}

}


}